.env
.env.*
scratch.py

/backend/*.json
/backend/*.ipynb
/backend/tools/*.json
/backend/tools/*.json
/backend/tools/*.md

/backend/screenshots/*

/backend/data/*

my-app/public/data/*

__pycache__

.DS*